* {
    margin: 0;
    padding: 0;
}

/*INDEX*/
/* Menu */

.topnav {
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.192);
    border-radius: 25px;
    width: 90%;
    overflow: hidden;
    margin: 20px auto 20px;
}
  
.topnav a {
    float: right;
    font-family: montserrat;
    display: block;
    color: #808080;
    text-align: center;
    margin-top: 35px;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
}

.topnav a:first-child{
    margin: 0;
}
  
.topnav a:hover {
    color: #3FA9F5;
}

.topnav a:first-child {
    float: left;
}

.topnav a:nth-child(2){
    background-color: #3FA9F5;
    color: #fff;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 20px;
}

.topnav a:nth-child(3){
    background-color: #3FA9F5;
    color: #fff;
    border-radius: 5px;
}

.topnav a:nth-child(2):hover{
    color: #3FA9F5;
    background-color: #fff;
    border: 1px solid #3FA9F5;
    margin-left: 13px;
}

.topnav a:nth-child(3):hover{
    color: #3FA9F5;
    background-color: #fff;
    border: 1px solid #3FA9F5;
    margin-left: -2px;
}

.topnav .icon {
    display: none;
}

.topnav .icon img {
    margin-top: -5px;
}

@media screen and (max-width: 861px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .topnav a:nth-child(6){
        padding-bottom: 20px;
    }

    .topnav a:nth-child(2){
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0;
        background-color: #fff;
        color: #808080;
    }
    
    .topnav a:nth-child(3){
        margin-left: 0px;
        margin-right: 0px;
        background-color: #fff;
        color: #808080;
    }

    .topnav a:nth-child(2):hover{
        margin-left: 0;
        border: 0;
    }
    
    .topnav a:nth-child(3):hover{
        margin-left: 0;
        border: 0;
    }
  }

/* Carousel */

.carousel-item {
    height: 35rem;
    background: #000;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 100px;
}
    
.container h2 {
    font-size: 35px;
}

.container p {
    text-align: justify;
    font-size: 19px;
}

.container a {
    background-color: #3FA9F5;
    border: 0;
    letter-spacing: 1px;
    width: 150px;
}

.container a:hover {
    background-color: #fff;
    color: #3FA9F5
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

/* Main, titulos e sections */
/* Sobre */

.titulos {
    text-align: center;
    margin-top: 40px;
    font-family: Nunito;
    font-size: 2.5rem;
}

.titulos::after {
    display: block;
    height: 2px;
    width: 150px;
    background-color: #3FA9F5;
    content: "";
    margin: 20px auto;
}

.div-txt-sections {
    margin: 0 auto;
    width: 60%;
}

.txt-sections {
    font-family: Nunito;
    text-align: justify;
    font-size: 1.2rem;
}

#sobre figure {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#sobre figure img {
    width: 600px;
    height: 450px;
}

@media screen and (max-width: 679px){
    #sobre figure img {
        max-width: 1080px;   
        width: 90%;
        height: auto;    
    }
}

@media screen and (max-width: 767px) {
    .container p {
        text-align: center;
    }

    .container h2 {
        text-align: center;
    }

    .d-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1120px){
    .div-txt-sections {
        width: 90%;
    }
}

/* Planos */

#planos {
    background-color: #00a7fb0c;
    padding-top: 5px;
    margin-top: 80px;
    padding-bottom: 80px;
}

#planos article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cards {
    background-color: #3FA9F5;
    border-radius: 10px;
    width: 300px;
    padding-bottom: 40px;
    margin-right: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cards:last-child {
    margin-right: 0px;
}

.card-title {
    text-align: center;
    font-family: nunito;
    color: #fff;
    margin-top: 20px;
}

.card-title h3 {
    font-size: 1.5rem;
}

.card-title h3::after {
    display: block;
    height: 1px;
    width: 150px;
    background-color: #fff;
    content: "";
    margin: 10px auto;
}

.card-image {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.card-image img {
    height: auto;
    width: 30%;
}

.card-desc {
    text-align: center;
    font-family: nunito;
    width: 95%;
    height: 125px;
    margin-top: 20px;
    color: #fff;
}

.card-btn {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 40px;
}

.card-btn a {
    text-decoration: none;
    color: #3FA9F5;
    font-weight: bold;
    background-color: #fff;
    border-radius: 200px;
    padding: 10px 35px 10px 35px;
    margin-top: 50px;
}

.card-btn a:hover {
    color: #3FA9F5;
}

@media screen and (max-width: 699px) {
    #planos article {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        margin-right: 0;
    }

    .cards:last-child {
        margin-top: 20px;
    }
}

@media screen and (max-width: 325px){
    .cards {
        width: 100%;
        border-radius: 0;
    }
}

/* Opiniões */

#opinioes {
    margin-top: 60px;
}

#div-opinioes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.opiniao-cli {
    width: 500px;
    padding-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin-right: 40px;
}

.opiniao-cli:last-child {
    margin-right: 0;
}

.opiniao-cli figure {
    text-align: center;
    margin-top: 20px;
}

.opiniao-cli figure img {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    border: 2px solid #3FA9F5;
}

.div-txt-opiniao {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.div-txt-opiniao p {
    text-align: center;
}

.div-span {
    text-align: center;
}

.div-span span{
    color:#00A6FB;
    font-weight: bold;
    margin-bottom: 20px;
}

@media screen and (max-width: 520px){
    .opiniao-cli {
        width: 300px;
        height: 500px;
    }

    .div-span {
        margin-top: 100px;
    }

    .div-txt-opiniao p {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 310px){
    .opiniao-cli {
        width: 100%;
    }
}

@media screen and (max-width: 1092px){
    #div-opinioes {
        flex-direction: column;
    }
    .opiniao-cli {
        margin-right: 0;
        margin-top: 40px;
    }
}

/* Footer */

footer {
    margin-top: 100px;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
}

#politicas {
    text-align: justify;
}

#politicas a {
    text-decoration: none;
    color: #fff;
}

#politicas a:hover {
    color: #00A6FB
}

#adress {
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}

#adress p {
    color: #fff;
}

#adress p:last-child {
    margin-top: 20px;
}

#adress p:first-child {
    margin-top: 20px;
}

#adress a {
    text-decoration: none;
    color: #fff;
}

#adress a:hover {
    color: #3FA9F5
}

#social a {
    text-decoration: none;
}

#social a img {
    padding: 10px;
}

#social a img:hover{
    background-color: #3FA9F5;
}

#facebook {
    margin-left: -6px;
}

@media screen and (max-width: 1074px){
    footer {
        flex-direction: column;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    #politicas {
        margin-top: 20px;
        text-align: center;
    }

    #politicas::after {
        display: block;
        height: 3px;
        width: 150px;
        background-color: #fff;
        content: "";
        margin: 10px auto;
    }

    #adress {
        margin: 0;
    }

    #adress::after {
        display: block;
        height: 3px;
        width: 150px;
        background-color: #fff;
        content: "";
        margin: 10px auto;
    }

    #social {
        margin-top: 20px;
    }   

    #linkedin {
        margin-left: -8px;
    }
}

/*FIM INDEX*/


/*PLANOS*/
/*Banner Planos*/

#banner-planos {
    width: 100%;
    height: 500px;
    background-color: #00a7fb83;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
}

#banner-planos h1 {
    text-align: center;
    letter-spacing: 4px;
    color: #fff;
    padding-top: 20px;
    font-size: 2rem;
    font-family: Nunito;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.164) 0.1em 0.1em 0.2em
}

#banner-planos h1::after{
    display: block;
    height: 2px;
    width: 150px;
    background-color: #fff;
    content: "";
    margin: 10px auto;
}

#banner-planos figure {
    display: flex;
    justify-content: center;
}

#banner-planos figure img {
    width: 650px;
    height: auto;
    margin-top: 20px;
}

@media screen and (max-width: 490px){
    #banner-planos {
        height: 400px;
    }
}

@media screen and (max-width: 664px){
    #banner-planos figure img {
        width: 90%;
    }
}

/*Parte de Planos*/

#main-planos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 300px;
}

.main-texts h1 {
    text-align: left;
    font-size: 2rem;
}

.main-texts p {
    color: #808080;
    margin-top: -5px;
    font-size: 1rem;
    text-align: left;
}

#sessao-planos {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.divs-planos {
    width: 350px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 30px;
    margin-right: 30px;
}

.divs-planos:last-child {
    margin-right: 0;
}

.p-dispositivos {
    color: #3FA9F5;
}

.p-wifi {
    color: #808080;
}

.divs-planos h2 {
    font-size: 2.5rem;
}

.p-descricao {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 80px;
}

.inf-planos {
    width: 100%;
    height: 275px;
}

.p-preco {
    font-size: 1.8rem;
}

.p-preco-boleto {
    color: #808080;
    margin-top: -20px;
}

.div-btn-assine {
    margin-top: 30px;
}

.btn-assine {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #3FA9F5;
    border-radius: 200px;
    padding: 10px 35px 10px 35px;
}

.btn-assine:hover {
    color: #3FA9F5;
    background-color: #fff;
    border: 1px solid #3FA9F5;
}

@media screen and (max-width: 664px){
    #main-planos {
        margin-top: 180px;
    }
}

@media screen and (max-width: 455px){
    #main-planos {
        margin-top: 150px;
    }
}

@media screen and (max-width: 300px){
    #main-planos {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1149px){
    #sessao-planos {
        flex-direction: column;
        align-items: center;
    }

    .divs-planos {
        margin-right: 0;
        margin-top: 30px;
    }

    .main-texts h1 {
        text-align: center;
    }
    
    .main-texts p {
        text-align: center;
    }

    #div-planos-empresa {
        flex-direction: column  ;
    }
}

@media screen and (max-width: 375px){
    .divs-planos {
        width: 100%;
    }
}

/* Benefícios */

#sessao-beneficios {
    width: 100%;
    padding-bottom: 50px;
    background-color: #00a7fb0c;
    margin-top: 80px;
}

.titulo-beneficios {
    margin-top: 60px;
}

.titulo-beneficios h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
}

.divs-beneficios {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.beneficios {
    width: 275px;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficios:last-child {
    margin-right: 0;
}

.beneficios figure {
    margin-top: 20px;
    height: 100px;
}

#img-monitor-wifi {
    height: 108px;
}

#games-beneficios {
    height: 80px;
    margin-top: 20px;
}

.inf-beneficios {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.inf-beneficios h3 {
    font-size: 1.2rem;
    font-family: nunito;
    text-align: center;
}

.inf-beneficios p {
    text-align: center;
    color: #808080;
    font-family: nunito;
}

#autoatendimento {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#autoatendimento h2 {
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
}

#opcoes-de-atendimento {
    margin-top: 40px;
    text-align: center;
}

.opcoes-atendimento {
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.144);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.opcoes-atendimento a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #3FA9F5;
}

.opcoes-atendimento a:hover{
    color: #348ece;
    text-decoration: underline;
}

@media screen and (max-width: 956px){
    .divs-beneficios{
        flex-direction: column;
        align-items: center;
    }

    .beneficios {
        margin-right: 0;
        margin-top: 30px;
        width: 350px;
    }
}

@media screen and (max-width: 530px){
    .opcoes-atendimento {
        width: 100%;
        border-radius: 0;
    }

    #opcoes-de-atendimento {
        width: 100%;
    }
}

@media screen and (max-width: 370px){
    .beneficios {
        width: 100%;
    }
}

/*Planos Empresas*/

#planos-empresas {
    margin-top: 60px;
}

#div-planos-empresa {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/*Beneficios Empresa*/

#sessao-beneficios-empresa {
    width: 100%;
    padding-bottom: 50px;
    background-color: #00a7fb0c;
    margin-top: 80px;
}

.caixa-beneficios-empresa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.beneficios-empresa {
    width: 350px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 25px;
    padding: 20px;
    margin-right: 20px;
}

.beneficios-empresa:last-child{
    margin-right: 0;
}

.figure-beneficio-empresa {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure-beneficio-empresa-01 {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure-beneficio-empresa-02 {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure-beneficio-empresa:hover {
    width: 100%;
    justify-content: flex-start;
    padding-left: 20px;
}

.figure-beneficio-empresa-01:hover {
    width: 100%;
    justify-content: flex-start;
    padding-left: 20px;
}

.figure-beneficio-empresa-02:hover {
    width: 100%;
    justify-content: flex-start;
    padding-left: 20px;
}

.figure-beneficio-empresa:hover::after {
    display: block;
    content: "Controle de Plano";
    margin-left: 20px;
    font-family: nunito;
    font-weight: bold;
    letter-spacing: 2px;
}

.figure-beneficio-empresa-01:hover::after {
    display: block;
    content: "Proteção Garantida";
    margin-left: 20px;
    font-family: nunito;
    font-weight: bold;
    letter-spacing: 2px;
}

.figure-beneficio-empresa-02:hover::after {
    display: block;
    content: "Upload de Qualidade";
    margin-left: 20px;
    font-family: nunito;
    font-weight: bold;
    letter-spacing: 2px;
}

.figure-beneficio-empresa img {
    width: 40px;
    height: 40px;
}

.figure-beneficio-empresa-01 img {
    width: 40px;
    height: 40px;
}

.figure-beneficio-empresa-02 img {
    width: 40px;
    height: 40px;
}

.inf-beneficios-empresa {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inf-beneficios-empresa h3 {
    font-size: 1.3rem;
}

.inf-beneficios-empresa p {
    color: #4b4b4b;
}

@media screen and (max-width: 1117px){
    .caixa-beneficios-empresa {
        flex-direction: column;
    }

    .beneficios-empresa {
        margin-top: 20px;
        margin-right: 0;
    }
}

@media screen and (max-width: 368px){
    .beneficios-empresa {
        width: 100%;
        height: auto;
    }
}

/* ÁREA CLIENTE */

/* Menu */
.menu-cliente {
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.192);
    border-radius: 25px;
    width: 90%;
    overflow: hidden;
    margin: 20px auto 20px;
}

.menu-cliente a {
    float: left;
    font-family: montserrat;
    display: block;
    color: #808080;
    text-align: center;
    margin-top: 35px;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
}

.menu-cliente a:hover {
    color: #3FA9F5;
}

.menu-cliente a:first-child {
    margin: 0;
}

.menu-cliente a:nth-child(5) {
    color: #3FA9F5;
    float: right;
    margin-top: 25px;
    font-weight: bold;
}

.menu-cliente a:nth-child(5) img {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}

.menu-cliente .icon {
    display: none;
}

.menu-cliente .icon img {
    margin-top: -5px;
}

@media screen and (max-width: 669px){
    .menu-cliente a:not(:first-child) {
        display: none;
    }

    .menu-cliente a.icon {
      float: right;
      display: block;
    }

    .menu-cliente.responsive {
        position: relative;
    }

    .menu-cliente.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .menu-cliente.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .menu-cliente a:nth-child(5){
        margin-bottom: 20px;
    }
}
/* Fim Menu */

/* Conteúdo */

#main-cliente {
    margin-top: 100px;
}

.organizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo-cliente {
    width: 90%;
    margin-bottom: 150px;
}

.conteudo-cliente h2 {
    color: #808080;
    font-family: Nunito;
    letter-spacing: 1px;
}

.org-divs {
    display: flex;
}

.div-esquerda {
    width: 60%;
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    margin-right: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.div-direita {
    width: 40%;
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    margin-left: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Plano */

.div-esquerda h3 {
    font-family: Nunito;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2px;
}

.pacote-contratado {
    margin-top: 40px;
}

.pacote-contratado span {
    font-weight: 600;
    font-size: 19px;
    margin-left: 15px;
}

.mudar-plano {
    margin-top: auto;
}

.mudar-plano a {
    background: #3FA9F5;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-family: Nunito;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}

.mudar-plano a:hover {
    border: 1px solid #3FA9F5;
    background: #fff;
    color: #3FA9F5;
}

.div-direita h3 {
    text-align: center;
    font-family: Nunito;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2px;
}

.opcoes-plano {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.opcoes-plano div {
    margin-right: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.opcoes-plano div:last-child {
    margin-right: 0;
}

.opcoes-plano div a {
    text-align: center;
    font-family: Nunito;
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
    color: #000;
    margin-top: 10px;
}

/* Fatura */

.inf-fatura {
    width: 100%;
}

.inf-fatura h3 {
    color: #FF9C27;
    font-size: 40px;
}

.inf-fatura span {
    color: #808080;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: Nunito;
    margin-top: -50px;
    float: right;
}

.inf-fatura p {
    color: #808080;
    letter-spacing: 1px;
    font-family: nunito;
    font-size: 15px;
    margin-top: -50px;
}

.opcoes-fatura {
    margin-top: auto;
}

.opcao-fatura:last-child {
    margin-top: 30px;
}

.opcao-fatura a {
    text-decoration: underline;
    color: #000;
    margin-left: 20px;
    font-size: 18px;
}

.opcao-fatura a:hover {
    color: #000;
}

/* Técnico */

.status-internet {
    margin: auto 0px;
    display: flex;
    align-items: center;
}

.status-internet img {
    width: 50px;
    height: 50px;
}

.status-internet span {
    margin-left: 20px;
    font-family: Nunito;
    color: #808080;
    font-weight: 500;
    font-size: 22px;
}

.status-internet div {
    width: 15px;
    height: 15px;
    background: #9EE692;
    border-radius: 200px;
    margin-left: auto;
}

.div-esquerda form {
    margin-top: 40px;
    height: 100%;
}

.div-esquerda form div label {
    font-family: nunito;
    font-size: 20px;
    letter-spacing: 2px;
}

.div-esquerda form div input {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #3FA9F5;
    border-radius: 5px;
}

.div-btn-submit {
    margin-top: 110px;
}

.div-btn-submit input {
    background: #3FA9F5;
    padding: 5px 20px 5px 20px;
    border-radius: 100%;
    font-family: Nunito;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}

.div-btn-submit input:hover{
    background: #fff;
    border: 1px solid #3FA9F5;
    color: #3FA9F5;
}

@media screen and (max-width: 969px){
    .org-divs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div-esquerda {
        margin: 10px 0 0 0;
        width: 100%;
    }

    .div-direita {
        margin: 30px 0 0 0;
        width: 100%;
    }

    .conteudo-cliente h2 {
        text-align: center;
    }
}

@media screen and (max-width: 411px){
    .inf-fatura span {
        float: left;
        margin-top: 0;
    }

    .inf-fatura p {
        margin: 0;
    }
}

@media screen and (max-width: 383px){
    .opcoes-plano {
        flex-direction: column;
    }

    .opcoes-plano div {
        margin-right: 0;
    }

    .opcoes-plano div:last-child {
        margin-top: 30px;
    }

    .div-direita{
        height: auto;
    }
}

/* Fim Conteúdo */

/* FIM ÁREA CLIENTE */